QWidget {
    background-color: rgb(167, 206, 230);
}

QPushButton {
    background-color: whitesmoke;
    color: #292929;
    border-style: inset;
    border-width: 2px;
    border-radius: 10px;
    border-color: whitesmoke;
    font: bold 14px;
    padding: 4px;
}

QPushButton:hover {
    background-color: #575757;
    color: whitesmoke;
}

QLineEdit {
    background-color: whitesmoke;
    color: #292929;
    border-radius: 10px;
    min-width: 10em;
    padding: 4px;
}

QLabel {
    background-color: none;
    color: rgb(0, 0, 0);
}

QLabel#bigger_title {
    font-size: 13pt;
    font-weight: bold;
}

QLabel#bar_background {
    background-color: whitesmoke;
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(46, 46, 46);
    color: whitesmoke;
    font-weight: bold;
}

QLabel#title {
    font-weight: bold;
    font-size: 10pt;
}

QLabel#member_card_label {
    background-color: whitesmoke;
    border-style: outset;
    border-width: 4px;
    border-color: rgb(0, 97, 158);
    border-radius: 10px;
}

QLabel#member_card_text { color: black;
}

QRadioButton {
    color: whitesmoke;
    font: bold 14px;
    min-width: 10em;
    padding: 4px;
}